
.select-item .headers > span .popup .search{
  height: 32px;
  position: relative;
  /* background-color:#f5f5f5; */
  padding: 5px 0;
  padding-left: 25px;
  padding-right: 30px;
}
.select-item .headers > span .popup .search i{
  width: 30px;
  right: 0;
  left: auto;
  position:absolute;
  top: 5px;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  height: 32px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
.select-item .headers > span .popup .search i svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
}
.select-item .headers > span .popup .search b{
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    top: 50%;
    left: 8px;
    transform: translate(-50%, -50%);
    position: absolute;
    border: 1px solid #ccc;
}
.select-item .headers > span .popup .search input{
  line-height: 30px;
  padding: 0 5px;
  margin: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}
.select-item .headers > span .popup .search input:focus{
  border: 1px solid #aaa;
  outline: 0;
}
.select-item .headers > span .popup .search b.selected:after{
    display: block;
    content: '';
    border: 3px solid #69b172;
    border-top: 0;
    border-left: 0;
    width: 4px;
    height: 9px;
    position: absolute;
    top: 0px;
    left: 4px;
    transform: rotate(45deg);
    cursor: pointer;
}
.select-item .headers > span .popup div{
  max-height: 168px;
  overflow: auto;
}
.select-item .headers > span .popup div div{
  white-space: nowrap;
  padding-left: 22px;
  position: relative;
  text-transform: none;
  padding-right: 10px;
  cursor: pointer;
}
.select-item .headers > span .popup div div:before{
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  top: 50%;
  left: 8px;
  transform: translate(-50%, -50%);
  position: absolute;
  border: 1px solid #ccc;
}
.select-item .headers > span .popup div div.selected:after{
  display: block;
  content: '';
  border: 3px solid #69b172;
  border-top: 0;
  border-left: 0;
  width: 4px;
  height: 9px;
  position: absolute;
  top: 4px;
  left: 5px;
  transform: rotate(45deg);
  cursor: pointer;
}
